// 003049  d62828  f77f00  fcbf49  eae2b7
$mainColor: #003049;

$colorTwo: #d62828;

$colorThree: #f77f00;

$colorFour: #fcbf49;

$colorFive: #eae2b7;

$width: 1020px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
